doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
    body
        header
            div.container_header
                div.header_left_side
                    button
                        a(href="/admin/add-productAdd") Add Product
                    button
                        a(href="/Shop") Shop
        main
            section.container_main
                div.main_row
                    h1 My Product
                    p List of all the product
                    div.main_row
                        ul
                            li.text-wrapper 
                                p Halloooo    


